body {
	font-family: verdana, arial;
}

label {
	font-weight: bold;
	width: 200px;
	padding-right: 20px;	
	text-align: left;
	display:inline-block
}

.SAFE {
	text-align: left;
	width:300px;
	background-color: #0d0;
	padding: 10px;
	color: #fff;
	font-weight: bold;
}


.UNSAFE {
	text-align: left;
	width:300px;
	background-color: #f00;
	padding: 10px;
	color: #fff;
	font-weight: bold;
}
.content {
	border: 1px solid #dddddd;
	margin: auto;

}
.content-line {
	padding: 10px;
}

.content-header {
	font-weight: bold;
	background-color: #006699;
	color: #ffffff;
	padding: 10px;
	text-align: left;
}