<!DOCTYPE html>
	<head>
	    <title>SBWS</title>    
		<link href="/css/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="content">
		<div class="content-header">ERROR</div>
		<div class="content-line">
			<label>Message</label>
			<span class="value">You need to use the /r subdir to evaluate a URL</span>
		</div>
	</body>
</html>