<html>
  <head>
    <title>Safe Browsing Evaluation</title>    

    <link href="/css/main.css" rel="stylesheet">

  </head>
  <body>
<div class="content">
<div class="content-header">Safe Browsing Results</div>
<div class="content-line">
	<label>URL</label><span class="value">{{ .URL }}</span>
</div>
	<div class="content-line"><label>Opinion</label><span class="value">{{ .Opinion }}</span>
</div>
</body>
</html>